<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>ENTER YOUR DETAILS</h1>
<div id="f">
<div class="form-group">
    <form action="http://127.0.0.1:5000/receiving" method="post">
        <input type="text" placeholder="ID" name="ids"><br>
        <input type="text" placeholder="FIRST NAME" name="first_name"><br>
        <input type="text" placeholder="LAST NAME" name="last_name"><br>
        <input type="text" placeholder="EMAIL" name="email"><br>
        <input type="password" placeholder="PASSWORD" name="passwords"><br>
        <input type="submit">
    </form>

</div>
</div>
</body>
</html>